main {	
	margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.fixed-sn main {
	margin-left: 1rem !important;
    margin-right: 1rem !important;	
}  

.error {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}

.valid {
	border-color: #28a745 !important;
	color: #28a745 !important;
}

select option {
	padding-left: 0.6rem;
	padding-top: 0.6rem;
}

.btn-xs {
	padding: .4rem 1.0rem;
	font-size: .5rem;
	margin: 0;
}

.dataTables_empty {
	text-align: center !important;
}

#slide-out .active {
    color: #4285F4 !important;
}

li a i {
	width: 12px;
}

.pointer {
	cursor: pointer;
}

.table-overflow {
	overflow-x:auto;
}

.fixed-sn main, .hidden-sn main {
	padding-top: 5rem;
}

.transaction-title {
	background-color: #f1f5f6;
	border-top: 1px solid #e9eff0;
	border-bottom: 1px solid #e9eff0;
}

.transaction-item {
	border-bottom: 1px solid #e9eff0;
}
.transaction-item:hover {
	background-color: #f4f7f8;
	cursor: pointer;
}

.date-format {
	width: 3rem;
}

.text-0 {
	font-size: 11px !important;
	font-size: 0.6875rem !important;
  }
  
  .text-1 {
	font-size: 12px !important;
	font-size: 0.75rem !important;
  }
  
  .text-2 {
	font-size: 14px !important;
	font-size: 0.875rem !important;
  }
  
  .text-3 {
	font-size: 16px !important;
	font-size: 1rem !important;
  }
  
  .text-4 {
	font-size: 18px !important;
	font-size: 1.125rem !important;
  }
  
  .text-5 {
	font-size: 21px !important;
	font-size: 1.3125rem !important;
  }
  
  .text-6 {
	font-size: 24px !important;
	font-size: 1.50rem !important;
  }
  
  .text-7 {
	font-size: 28px !important;
	font-size: 1.75rem !important;
  }
  
  .text-8 {
	font-size: 32px !important;
	font-size: 2rem !important;
  }
  
  .text-9 {
	font-size: 36px !important;
	font-size: 2.25rem !important;
  }
  
  .text-10 {
	font-size: 40px !important;
	font-size: 2.50rem !important;
  }
  
  .text-11 {
	font-size: 44px !important;
	font-size: 2.75rem !important;
  }
  
  .text-12 {
	font-size: 48px !important;
	font-size: 3rem !important;
  }
  
  .text-13 {
	font-size: 52px !important;
	font-size: 3.25rem !important;
  }
  
  .text-14 {
	font-size: 56px !important;
	font-size: 3.50rem !important;
  }
  
  .text-15 {
	font-size: 60px !important;
	font-size: 3.75rem !important;
  }
  
  .text-16 {
	font-size: 64px !important;
	font-size: 4rem !important;
  }
  
  .text-17 {
	font-size: 72px !important;
	font-size: 4.5rem !important;
  }
  
  .text-18 {
	font-size: 80px !important;
	font-size: 5rem !important;
  }
  
  .text-19 {
	font-size: 84px !important;
	font-size: 5.25rem !important;
  }
  
  .text-20 {
	font-size: 92px !important;
	font-size: 5.75rem !important;
  }
  